*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 200px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;

}

img{
    height: 100%;
    width: 100%;
}

.box{
    background-color: orange;
}

@media screen and (max-width:900px ) {
    .container{
        height: 400px;
        width: 400px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;

    }
    
}

@media screen and (max-width:600px ) {
    .container{
        height: 800px;
        width: 200px;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr;

    }
    
}