.container{
    height: 200px;
    width: 300px;
    background-color: blueviolet;
    overflow: scroll;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}