*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 10px 10px 10px blueviolet;
    /* box-shadow:inset 10px 10px 0px blueviolet; */
    /* box-shadow: 0px 0px 0px 10px blueviolet; */
}