#container{
    background-color: white;
    height: 200px;
    width: 300px;
    position: relative;
}

#box{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    bottom: 50px;

}